<html xmlns="http://www.w3.org/1999/html">
    <title>Cart example</title>
    <head>
        <style>
            .btn{
	            color: #fff;
	            cursor: pointer;
	            font-size: 15px;
	            padding: 7px 20px;
	            text-align: center;
	            background-color: #aaa;
	            display: block;
	            border-radius:3px;
	            -webkit-border-radius:3px;
	            -moz-border-radius:3px;
	            -khtml-border-radius:3px;
	            box-shadow: 0px 0px 3px 0 #aaa;
	            float: left;
            }
            .btn:hover{
	            background-color: #ddd;
            }
        </style>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" language = "javascript">

            function createJSON(){
                data = {}
                data ['title'] = $('#title').val();
                data ['comment'] = $('#comment').val();
                return JSON.stringify(data);
            }

            function loadJSON(json_string){
                var data=$.parseJSON(json_string);
                $('#messages').remove();
                html_text = '';
                for(var i in data){
                    html_text = html_text +
                        "<p>"
                            +"<b>"+data[i].fields.title+"</b>"
                            +"<i>"+data[i].fields.created+"</i>"
                        +"</p>"
                        +"<p>"
                            +"<i>"+data[i].fields.comment+"</i>"
                        +"</p>";
                }
                $('#messages-holder').append("<div id='messages'>" + html_text + "</div>");
            }

            function sendPost(){
                $.post("/cart/add-message/", createJSON())
                 .done(function(data){
                    loadJSON(data);
                 });
            }

            $(document).ready(function(){
                $('#btn-send').click(function(){
                    sendPost();
                })
            })
        </script>
    </head>
    <body>
    <!-- print all messages -->
    <div id="messages-holder">
        <div id="messages">
        {% for message in messages %}
            <p>
                <b>{{message.title}}</b>
                <i>{{message.created}}</i>
            </p>
        
            <p>
                <i>{{message.comment}}</i>
            </p>
        {% endfor %}
        </div>
    </div>

    <br>
        <span>Tilte</span></br>
        <input type="text" id="title">
    </p>

    <p>
        <span>Comment</span></br>
        <textarea rows="4" id="comment"></textarea>
    </p>

    <div id="btn-send" class="btn"><span>Send</span></div>

    </body>
<html>
